@import url('photographer.css');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  width: 200px;
  margin-left: 100px;
  object-fit: cover;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #901c1c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 13px;
  color: white;
}

h2 {
  font-size: 36px;
  color: #d3573c;
  margin: 15px 0px;
}

h3 {
  font-size: 13px;
  color: #901c1c;
  margin: 0px;
}

.photographer_price {
  font-size: 9px;
  color: #757575;
}
